@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  @apply py-2 px-4 rounded-md border border-gray-300;
}

input:focus {
  @apply outline-none border-primary;
}

@layer components {
  .btn {
    @apply py-3 px-6 rounded-sm;
  }

  .btn-small {
    @apply py-2 px-4 text-sm;
  }
  .btn-primary {
    @apply bg-primary/90 hover:bg-primary text-white transition-all ease-in-out;
  }
}
